Repository aiidateam/aiida-wannier90: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, prospector, interpolate-workflows

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

prospector:
  language: system
  name: prospector
  description: 'This hook runs Prospector: https://github.com/landscapeio/prospector'
  entry: prospector

interpolate-workflows:
  name: Interpolate Github workflows
  entry: python ./utils/interpolate_yaml_anchors.py
  language: system
  pass_filenames: false

Fix bug for excluding a single band
  aiida_wannier90/io/_group_list.py
Due: yapf, prospector

Add initial centres/spreads to output_parameters
  aiida_wannier90/parsers.py
Due: yapf, prospector

Revert "Add initial centres/spreads to output_parameters"
  aiida_wannier90/parsers.py
Due: yapf, prospector

Add exit code for bvectors error
  aiida_wannier90/calculations.py
  aiida_wannier90/parsers.py
  tests/conftest.py
  tests/parsers/data/ca4mg8/aiida.wout
  tests/parsers/test_parser.py
Due: yapf, prospector

Update tests for initial Wannier functions
  tests/parsers/test_parser/test_band_parser_legacy_.yml
  tests/parsers/test_parser/test_band_parser_new_.yml
  tests/parsers/test_parser/test_no_kpoint_path.yml
  tests/parsers/test_parser/test_wannier_default_aiida_.yml
  tests/parsers/test_parser/test_wannier_default_wannier_.yml
Due: none

To pass pylint
  aiida_wannier90/parsers.py
Due: yapf, prospector

Drop support for python 3.6
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
  setup.json
Due: interpolate-workflows

Rerun pre-commit hook
  .github/workflows/ci.yml
Due: interpolate-workflows

Drop support for python 3.6 (#113)
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
  setup.json
Due: interpolate-workflows

Add tests for exclude_bands
  tests/io/test_win_writer.py
  tests/io/test_win_writer/test_exclude_bands.win
Due: yapf, prospector

Fix deprecation warnings
  examples/example01/create_local_input_folder.py
  tests/conftest.py
Due: yapf, prospector

Add a test for `too many bvectors`
  tests/conftest.py
  tests/parsers/data/br2fe/aiida.win
  tests/parsers/data/br2fe/aiida.wout
  tests/parsers/data/ca4mg8/aiida.win
  tests/parsers/data/ca4mg8/aiida.wout
  tests/parsers/test_parser.py
Due: yapf, prospector

Add doc for `wannier_functions_initial`
  docs/source/parser.rst
Due: none

Update badges
  README.md
Due: none

Add a table of badges
  README.md
Due: none

Add exit code for not enough states in disentanglement
  aiida_wannier90/calculations.py
  aiida_wannier90/parsers.py
  tests/parsers/data/HK/aiida.wout
  tests/parsers/test_parser.py
Due: yapf, prospector

Add exit code for `ERROR_PLOT_WF_CUBE`
  aiida_wannier90/calculations.py
  aiida_wannier90/parsers.py
  tests/parsers/data/plot_wf_cube/aiida.wout
  tests/parsers/test_parser.py
Due: yapf, prospector

Retrieve `aiida.node_00001.werr` for parsing error
  aiida_wannier90/calculations.py
  aiida_wannier90/parsers.py
Due: yapf, prospector

Add exit code `ERROR_OUTPUT_STDOUT_INCOMPLETE`
  aiida_wannier90/calculations.py
  aiida_wannier90/parsers.py
  tests/parsers/data/output_stdout_incomplete/aiida.wout
  tests/parsers/test_parser.py
Due: yapf, prospector

Add inputs `bands_kpoints`
  aiida_wannier90/calculations.py
  aiida_wannier90/io/_write_win.py
  tests/calculations/test_local_input.py
  tests/calculations/test_local_input/test_bands_kpoints.win
  tests/calculations/test_remote_input.py
Due: yapf, prospector

Format `explicit_kpoint` and `explicit_kpoint_path` in win file
  aiida_wannier90/__init__.py
  aiida_wannier90/io/_write_win.py
  tests/calculations/test_local_input/test_bands_kpoints.win
Due: yapf, prospector

Support parsing wout from a wannier90 restart calculation
  aiida_wannier90/parsers.py
  tests/parsers/data/restart/aiida.wout
  tests/parsers/test_parser.py
  tests/parsers/test_parser/test_band_parser_legacy_.yml
  tests/parsers/test_parser/test_restart.yml
Due: yapf, prospector

Move `validate_inputs` outside of `Wannier90Calculation`
  aiida_wannier90/calculations.py
Due: yapf, prospector

Check stdout before checking the existence of werr file
  aiida_wannier90/parsers.py
Due: yapf, prospector

added generate_projections for List and Dict
  aiida_wannier90/io/_write_win.py
  tests/io/test_win_writer.py
  tests/io/test_win_writer/test_create_win_string_generate_projections.win
Due: yapf, prospector

Update doc & Run pre-commit
  aiida_wannier90/io/_write_win.py
  tests/io/test_win_writer.py
  tests/io/test_win_writer/test_create_win_string_projections_dict.win
  tests/io/test_win_writer/test_create_win_string_projections_list_of_dict.win
  tests/io/test_win_writer/test_create_win_string_projections_list_of_str.win
Due: yapf, prospector

Separate `validate_inputs`
  aiida_wannier90/calculations.py
Due: yapf, prospector

Only symlink UNK files when wannier_plot is True
  aiida_wannier90/calculations.py
  tests/calculations/test_remote_input.py
  tests/calculations/test_remote_input/test_unk_symlink.win
Due: yapf, prospector

Migrate to AiiDA 2.0
  .pre-commit-config.yaml
  .pylintrc
  LICENSE.txt
  MANIFEST.in
  README.md
  aiida_wannier90/__init__.py
  aiida_wannier90/io/_write_win.py
  aiida_wannier90/orbitals.py
  aiida_wannier90/parsers.py
  aiida_wannier90/workflows/minimal.py
  examples/example01/create_local_input_folder.py
  examples/example01/wannier_gaas.py
  examples/workflows/launch_w90_minimal.py
  misc/logos/MARVEL.png
  misc/logos/swissuniversities.png
  pyproject.toml
  pytest.ini
  setup.json
  setup.py
  tests/calculations/test_local_input.py
  tests/calculations/test_local_input/test_default_plot.win
  tests/calculations/test_remote_input.py
  utils/check_version.py
Due: yapf, prospector

Fix deprecation warnings
  aiida_wannier90/calculations.py
  aiida_wannier90/io/_write_win.py
  aiida_wannier90/orbitals.py
  aiida_wannier90/parsers.py
  docs/source/tutorial_calculation.rst
  examples/example01/create_local_input_folder.py
  tests/calculations/test_local_input.py
  tests/conftest.py
Due: yapf, prospector

Autoupdate pre-commit
  .pre-commit-config.yaml
Due: none

Remove unneeded dict key of orm.Dict
  aiida_wannier90/workflows/minimal.py
  tests/calculations/test_local_input.py
Due: yapf, prospector

Move to src/ folder
  README.md
  src/aiida_wannier90/__init__.py
  src/aiida_wannier90/calculations.py
  src/aiida_wannier90/io/__init__.py
  src/aiida_wannier90/io/_group_list.py
  src/aiida_wannier90/io/_write_win.py
  src/aiida_wannier90/orbitals.py
  src/aiida_wannier90/parsers.py
  src/aiida_wannier90/utils.py
  src/aiida_wannier90/workflows/__init__.py
  src/aiida_wannier90/workflows/minimal.py
  utils/clean.sh
Due: yapf, prospector

Move logo into doc folder
  README.md
  docs/source/img/logo/MARVEL.png
  docs/source/img/logo/swissuniversities.png
Due: none

Remove yapf related files
  .style.yapf
Due: none

Add Calculation for postw90.x
  pyproject.toml
  src/aiida_wannier90/calculations/__init__.py
  src/aiida_wannier90/calculations/postw90.py
  src/aiida_wannier90/calculations/wannier90.py
  src/aiida_wannier90/parsers/__init__.py
  src/aiida_wannier90/parsers/postw90.py
  src/aiida_wannier90/parsers/wannier90.py
Due: yapf, prospector

Add clean_workdir to Postw90Calculation
  src/aiida_wannier90/calculations/postw90.py
Due: yapf, prospector

Fix on_terminated
  src/aiida_wannier90/calculations/postw90.py
Due: yapf, prospector

Add parser for BoltzWann files
  src/aiida_wannier90/calculations/postw90.py
  src/aiida_wannier90/parsers/postw90.py
Due: yapf, prospector

Path conditions:
  yapf: any of: \.py$
  prospector: any of: \.py$
  interpolate-workflows: any of: (?x)^(
  .github/(.)*|
  utils/interpolate_yaml_anchors.py
)$

